{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Welcome to the Home Page</h1>
                <p>This is the home page of our website.</p>
                <p>Here you can find various resources and information.</p>
                <img src="/static/images/house.webp" height="1330" width="2364" /> 
        </div>
    </div>
{{end}}