
.my-footer {
    color: #FFFFFF;
    padding: 1em;
    margin-top: 1.5em;
    height: 5em; /* Set the fixed height of the footer here */
    background-color: #163b65;
    font-size: 10px;
}
.room-image {
    max-width: 50%;
}

.notie-container {
    box-shadow: none;
}

.datepicker {
    z-index: 10000; /* Bootstrap modal z-index is 1050 */
}

.swal2-actions {
    z-index: 0 ! important;
}
